*.inc	diff=php

/.github/ export-ignore
/demo/ export-ignore
/doc/build/ export-ignore
/tests/ export-ignore

/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml.dist export-ignore
