name: CD

on:
    # We limit this workflow to pushes of tags. No need to run on prs and on pushes to master
    push:
        #branches:
        #    - master
        tags:
            - '**'

jobs:
    # we could try to split in 2 jobs: one for docs, running also on pushes to master,  and one for releases, but the
    # release one needs the asset from the docs one...
    release:
        if: ${{ startsWith(github.ref_name, '1.') && !(contains(github.ref_name, 'alpha') || contains(github.ref_name, 'beta') || contains(github.ref_name, 'rc')) }}
        runs-on: ubuntu-latest
        steps:
            -   name: checkout code
                uses: actions/checkout@v3
                with:
                    fetch-depth: 0 # apparently required by tj-actions/changed-files

            # these could be useful to update the generated docs on any pushes to master which have changes to docs sources
            #-   name: get changed files - manual
            #    id: changed-manual
            #    uses: tj-actions/changed-files@v35
            #    with:
            #        files: |
            #            doc/manual/**

            #-   name: get changed files - source
            #    id: changed-source
            #    uses: tj-actions/changed-files@v35
            #    with:
            #        files: |
            #            src/**

            -   name: set git credentials as user triggering the build
                uses: fregante/setup-git-user@v1

            # build and upload api docs
            # (was: NB: this happens independently of releases!)
            -   name: generate and upload api docs
                #if: ${{ steps.changed-source.outputs.any_changed == 'true' }}
                run: |
                    chmod 755 ./doc/build/taskfile
                    ./doc/build/taskfile setup_tools
                    ./doc/build/taskfile build_api
                    mv doc/api .
                    git fetch
                    git checkout gh-pages
                    rm -rf doc/api
                    mv ./api doc
                    git add doc/api
                    git commit -m 'update api docs'
                    git push
                    git checkout ${{ github.ref_name }}

            # build and upload manual
            -   name: generate and upload manual
                #if: ${{ steps.changed-manual.outputs.any_changed == 'true' || (github.ref_type == 'tag' && startsWith(github.ref_name, '4.')) }}
                run: |
                    chmod 755 ./doc/build/taskfile
                    ./doc/build/taskfile setup_tools
                    ./doc/build/taskfile build_manual
                    mv doc/manual/xmlrpc_php_extras.pdf .
                    git fetch
                    git checkout gh-pages
                    mv ./xmlrpc_php_extras.pdf doc
                    git add doc/xmlrpc_php_extras.pdf
                    git commit -m 'update pdf version of manual'
                    git push
                    cp doc/xmlrpc_php_extras.pdf .
                    git checkout ${{ github.ref_name }}
                    mv ./xmlrpc_php_extras.pdf doc/manual

            # create release on github, with data from the NEWS file and add docs+demo artifacts

            -   name: create release assets
                #if: ${{ github.ref_type == 'tag' && startsWith(github.ref_name, '4.') }}
                run: |
                    #tar -cvzf demofiles.tgz demo
                    tail -n+2 NEWS.md | sed '/## JSON-RPC for PHP version/Q' >> announcement.txt

            -   name: create release on github
                #if: ${{ github.ref_type == 'tag' && startsWith(github.ref_name, '4.') }}
                uses: softprops/action-gh-release@v1
                with:
                    body_path: announcement.txt
                    #files: |
                    #    demofiles.tgz

            # update github pages with release info
            -   name: update website with info about the latest release
                #if: ${{ github.ref_type == 'tag' && startsWith(github.ref_name, '4.') }}
                run: |
                    git fetch
                    git checkout gh-pages
                    sed -i 's|href="https://github.com/gggeek/phpxmlrpc-extras/releases/tag/[^"]*"|href="https://github.com/gggeek/phpxmlrpc-extras/releases/tag/${{ github.ref_name }}"|g' index.html
                    sed -i 's|<span class="evidence">.*</span>|<span class="evidence">${{ github.ref_name }}</span>|' index.html
                    sed -i "s|released on [^(]*|released on $(date '+%b. %-d, %Y') |" index.html
                    sed -i "s|Page last updated:.*|Page last updated: $(date +%Y/%-m/%-d)|" index.html
                    git add index.html
                    git commit -m 'update index page with latest release'
                    git push
                    git checkout ${{ github.ref_name }}

    deploy_to_tanoconsulting_dot_com:
        if: ${{ startsWith(github.ref_name, '1.') && !(contains(github.ref_name, 'alpha') || contains(github.ref_name, 'beta') || contains(github.ref_name, 'rc')) }}
        runs-on: ubuntu-latest
        steps:
            -   name: create canary file
                run: |
                    mkdir canary
                    touch canary/please_update.txt

            -   name: upload canary file to tanoconsulting.com
                #if: ${{ github.ref_type == 'tag' && startsWith(github.ref_name, '4.') }}
                uses: SamKirkland/FTP-Deploy-Action@v4.3.6
                with:
                    server: ftp.tanoconsulting.com
                    username: ${{ secrets.ftp_tanoconsulting_com_user }}
                    password: ${{ secrets.ftp_tanoconsulting_com_password }}
                    #protocol: ftps
                    local-dir: ./canary/
                    #server-dir: ./
                    #log-level: verbose
